<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
    <!-- <link rel="stylesheet" type="text/css" th:href="@{/style.css}" /> -->
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <!-- <link rel="stylesheet" type="text/css" th:href="static/css/sidenavbar.css" /> -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidenavbar.css}" />
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="sidenav col-sm-2 sticky-top bg-dark">
                <div class="admin-menu">
                    <!-- <i class="fa fa-shopping-cart fa-4x" aria-hidden="true" style="color: aliceblue;"></i> -->
                    <a class="navbar-brand" th:href="@{/}">
                        <img th:src="@{/images/linhanshopping_logo_3.png}" width="130px"
                            style="display: block; margin: 0 auto;" />
                    </a>
                </div>
                <h6 style="text-align: center; color: #ff0015;">ADMIN VERSION 1.0.1</h6>

                <hr
                    style="border:0; height: 1px;  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(227, 227, 227, 0.75), rgba(0, 0, 0, 0)); margin-top: 16px;">

                <form class="form-inline my-2 my-lg-0 justify-content-sm-center p-2">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
                    <button class="fa fa-search btn btn-lg btn-outline-success"></button>
                </form>

                <button class="dropdown-btn">
                    <i class="fa fa-user-circle" aria-hidden="true"></i> Users<i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a class="dropdown-item" th:href="@{/users/new}"> Create New</a>
                    <a class="dropdown-item" th:href="@{/users}"> Show All</a>
                </div>

                <button class="dropdown-btn">
                    <i class="fa fa-book"></i> Categories<i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a class="dropdown-item" th:href="@{/categories/new}"> Create New</a>
                    <a class="dropdown-item" th:href="@{/categories}"> View All</a>
                </div>

                <!-- <a href="#"><i class="fa fa-barcode" aria-hidden="true"></i> Brands</a> -->
                <button class="dropdown-btn">
                    <i class="fa fa-barcode" aria-hidden="true"></i> Brand<i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a class="dropdown-item" th:href="@{/brands/new}"> Create New</a>
                    <a class="dropdown-item" th:href="@{/brands}"> View All</a>
                </div>

                <!-- <a href="#"><i class="fa fa-tags" aria-hidden="true"></i> Products</a> -->
                <button class="dropdown-btn">
                    <i class="fa fa-tags" aria-hidden="true"></i> Product<i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a class="dropdown-item" th:href="@{/products/new}"> Create New</a>
                    <a class="dropdown-item" th:href="@{/products}"> View All</a>
                </div>
                <a href="#"><i class="fa fa-male" aria-hidden="true"></i> Customers</a>
                <a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></i> Oders</a>
            </div>

            <div class="col-sm-10">
                <table class="table table-bordered table-hover table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th class="hideable-column">
                                ID
                            </th>

                            <th>Photos</th>

                            <th class="hideable-column">
                                E-mail
                            </th>

                            <th>First Name</th>

                            <th>Last Name</th>

                            <th>Roles</th>

                            <th></th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="user : ${listUsers}">
                            <td>[[${user.id}]]</td>
                            <td>
                                <span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-silver"></span>
                                <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}"
                                    style="width: 100px" />
                            </td>
                            <td class="hideable-column">[[${user.email}]]</td>
                            <td>[[${user.firstName}]]</td>
                            <td>[[${user.lastName}]]</td>
                            <td>[[${user.rolesToString}]]</td>
                            <td>
                                <a th:if="${user.enabled == true}" class="fa fa-check-square"
                                    th:href="@{'/users/' + ${user.id} + '/enabled/false'}"
                                    th:title="'Disable this' + ' user'"></a>

                                <a th:if="${user.enabled == false}" class="fa fa-square" style="color:grey"
                                    th:href="@{'/users/' + ${user.id} + '/enabled/true'}"
                                    th:title="'Disable this' + ' user'"></a>

                                &nbsp;&nbsp;&nbsp;

                                <a class="fas fa-edit icon-green" th:href="@{'/users/edit/' + ${user.id}}"
                                    th:title="'Edit this ' + 'user'"></a>
                                &nbsp;&nbsp;
                                <a class="fas fa-trash icon-dark link-delete" th:href="@{'/users/delete/' + ${user.id}}"
                                    th:entityId="${user.id}" th:title="'Delete this ' + 'user'"></a>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <div>
                    <div class="text-center m-1" th:if="${totalItems > 0}">
                        <span>Showing users # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
                    </div>
                    <div class="text-center m-1" th:unless="${totalItems > 0}">
                        <span>No users found</span>
                    </div>

                    <div th:if="${totalPages > 1}">
                        <nav>

                            <ul class="pagination justify-content-center flex-wrap">
                                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                                    <a class="page-link"
                                        th:href="@{'/users/page/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">First</a>
                                </li>
                                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                                    <a class="page-link"
                                        th:href="@{'/users/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Previous</a>
                                </li>

                                <li th:class="${currentPage != i ? 'page-item': 'page-item active'}"
                                    th:each="i : ${#numbers.sequence(1, totalPages)}">
                                    <a class="page-link"
                                        th:href="@{'/users/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${i}]]</a>
                                </li>

                                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                                    <a class="page-link"
                                        th:href="@{'/users/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Next</a>
                                </li>

                                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                                    <a class="page-link"
                                        th:href="@{'/users/page/' + ${totalPages}  + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Last</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $(".dropdown-btn").click(function () {
                // Đóng tất cả các dropdown khác
                $(".dropdown-btn").not(this).removeClass("active");
                $(".dropdown-container").not($(this).next()).slideUp();

                // Mở hoặc đóng dropdown hiện tại
                $(this).toggleClass("active");
                var dropdownContent = $(this).next();
                dropdownContent.slideToggle();
            });

            // Ẩn tất cả các dropdown-container khi click chuột ra ngoài
            $(document).click(function (event) {
                var target = $(event.target);
                if (!target.hasClass("dropdown-btn")) {
                    $(".dropdown-btn").removeClass("active");
                    $(".dropdown-container").slideUp();
                }
            });
        });
    </script>
</body>

</html>