aside {
    height: 100vh;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 16px;
    background: #3e3e83;
}

aside hr {
    background-color: #ffffff;
    opacity: 0.4;
}

.admin-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidedropdown-btn div,
a div {
    width: 35px;
    margin: 0;
    display: inline-block;
}

.sidedropdown-item {
    margin-left: 40px;
}

.sidenav a,
.sidedropdown-btn {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 4px;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.fa-caret-down {
    float: right;
}

.sidenav a:hover,
.sidedropdown-btn:hover {
    color: #44bd32;
    transition: color 0.3s;
    text-decoration: none;
}

/* sidedropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the sidedropdown content */
.sidedropdown-container {
    display: none;
    background-color: transparent;
    border: none;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding: 4px;
}

.active {
    /* background-color: #57606f; */
    /* color: #fff; */
    color: #fff;
}

/* .navbar-nav > li > .sidedropdown-menu { background-color: #FF0000; } */

.sidedropdown-item:hover {
    background-color: transparent;
    border-radius: 5px;
}

.sidedropdown-btn:focus,
.sidedropdown-item:focus {
    border: none;
    outline: none;
    /* Loại bỏ viền mặc định */
    outline-offset: -2px;
    /* Dịch chuyển viền lùi vào bên trong */
}


.sidedropdown-container:focus-within {
    display: block;
    /* Hiển thị sidedropdown-container khi bất kỳ mục con trong nó được focus */
    animation: fade-in 0.1s ease-in-out forwards;
    /* Áp dụng hiệu ứng fade-in */
}

@keyframes fade-in {
    0% {
        opacity: 0;
        /* Bắt đầu với độ mờ là 0 */
        transform: translateX(-10px);
        /* Di chuyển điểm bắt đầu 10px sang trái */
    }

    100% {
        opacity: 1;
        /* Kết thúc với độ mờ là 1 */
        transform: translateX(0);
        /* Di chuyển về vị trí ban đầu */
    }
}

.rotate {
    transform: rotate(180deg);
    transition: .3s;
}