*.icon-white {color: white}
*.icon-silver {color: silver}
*.icon-green {color: green}
*.icon-dark {color: gray}

@media screen and (max-width: 768px) { /*screen < 768px sẽ ẩn full-details và hiện less-details*/
	/* small screen */
	div.full-details { display: none; } 
	div.less-details { display: block; } 
}

@media screen and (min-width: 768px) and (max-width: 1024px) { /* 768px > screen < 1024px sẽ ẩn less-details, các cột có khai báo class .hideable-column và hiện full-details*/
	/* medium screen */
	div.full-details { display: block; }
	div.less-details { display: none; }
	.hideable-column { display: none; }
}

@media screen and (min-width: 1024px) { /* screen > 1024px sẽ ẩn less-details và hiện các cột có khai báo class .hideable-column dạng table*/
	/* large screen */
	div.less-details { display: none; }
	.hideable-column { display: table-cell; }
}

a {
	text-decoration: none;
}

.page-title {
	font-size: 32px;
	color: #0080ff;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0;
	padding-top: 16px;
	animation: scale-in .5s ease-in-out;
}

@keyframes scale-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.sidenav {
    height: 100vh;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 16px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    /* https://getcssscan.com/css-box-shadow-examples #93 */
}

/* custom styling for all icons */
.fa-shopping-cart {
  background-color: #ff4757;
  border-radius: 0.2em;
  padding: 0.3em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.admin-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidenav a,
.sidedropdown-btn {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 16px;
    /* color: #ffffff; */
    color: #fff;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.sidenav a:hover,
.sidedropdown-btn:hover {
    color: #44bd32;
    transition: color 0.3s;
}

/* sidedropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the sidedropdown content */
.sidedropdown-container {
    display: none;
    background-color: #57606f;
    padding-left: 8px;
    border-radius: 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.active {
    /* background-color: #57606f; */
    /* color: #fff; */
    color: #fff;
}

/* .navbar-nav > li > .sidedropdown-menu { background-color: #FF0000; } */

.sidedropdown-item:hover { background-color: #57606f; border-radius: 5px;}
