*.icon-white {color: white}
*.icon-silver {color: silver}
*.icon-green {color: green}
*.icon-dark {color: gray}

@media screen and (max-width: 768px) { /*screen < 768px sẽ ẩn full-details và hiện less-details*/
	/* small screen */
	div.full-details { display: none; } 
	div.less-details { display: block; } 
}

@media screen and (min-width: 768px) and (max-width: 1024px) { /* 768px > screen < 1024px sẽ ẩn less-details, các cột có khai báo class .hideable-column và hiện full-details*/
	/* medium screen */
	div.full-details { display: block; }
	div.less-details { display: none; }
	.hideable-column { display: none; }
}

@media screen and (min-width: 1024px) { /* screen > 1024px sẽ ẩn less-details và hiện các cột có khai báo class .hideable-column dạng table*/
	/* large screen */
	div.less-details { display: none; }
	.hideable-column { display: table-cell; }
}

a {
	text-decoration: none;
	color: #2ed573;
}

a:hover{
	color: #0080ff;
}

.button-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #f0f0f0;
    color: #0080ff;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
	margin: 5px 0;
}

.button-link:hover {
	text-decoration: none;
    background-color: #0080ff;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: #fff;
}

.button-link i {
    margin-right: 5px;
}


.title-container {
	padding-top: 20px;

}

.page-title {
	font-size: 32px;
	color: #0080ff;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin: 0;
	padding: 0 10px;
	animation: scale-in 1s ease-in-out;
}

@keyframes scale-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}