<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="page_head(title, remove)" th:remove="${remove}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>[[${title}]]</title>

    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/sidenavbar.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <!--Thư viện jquery: lưu ý thư viện jquery.min.js phải được đặt trước bootstrap.min.js thì jquery mới chạy được-->
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>

<body>
    <div th:fragment="export-menu(field,remove)" th:remove="${remove}">
        <div class="p-3 btn-group">
            <a th:href="@{'/' + ${field} + '/new'}" class="btn btn-outline-primary">
                <i class="fas fa-user-plus p-2"></i>Add [[${field}]]
            </a>

            <a th:href="@{'/' + ${field} + '/export/csv'}" class="btn btn-outline-primary">
                <i class="fas fa-file-csv p-2"></i>Export CSV
            </a>

            <a th:href="@{'/' + ${field} + '/export/excel'}" class="btn btn-outline-primary">
                <i class="fas fa-file-excel p-2"></i>Export Excel
            </a>

            <a th:href="@{'/' + ${field} + '/export/pdf'}" class="btn btn-outline-primary">
                <i class="fas fa-file-pdf p-2"></i>Export PDF
            </a>
        </div>
    </div>

    <div th:fragment="search_form(moduleURL)">
        <form th:action="@{${moduleURL}}" class="form-inline m-3" id="searchForm">
            <input type="hidden" name="sortField" th:value="${sortField}" />

            <input type="hidden" name="sortDir" th:value="${sortDir}" />

            <input type="search" name="keyword" th:value="${keyword}" class="form-control" required />
            &nbsp;&nbsp;

            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i>
            </button>
            &nbsp;&nbsp;

            <button type="button" class="btn btn-secondary" onclick="clearFilter()">
                <i class="fas fa-eraser"></i>
            </button>

            <div class="show-entries p-1 input-group" name="userPerPage">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white">Show </span>
                </div>

                <select class="form-control" name="size" id="entryDropdown">
                    <option hidden th:value="${size}" th:selected="${size}">[[${size}]]</option>
                    <!--hidden -> thẻ chọn này sẽ bị ẩn. th:selected -> khi load trang lên thì hộp chọn sẽ mặc định chọn giá trị này (giá trị size của controller đổ về)
                     Sở dỉ chọn giải pháp này là để lúc nào cũng hiện lên đầy đủ list size, đồng thời khi chọn thì sẽ có sự thay đổi onchange để có thể chạy  js-->
                    <th:block th:each="size : ${segmentsSizeList}">
                        <option th:value="${size}">[[${size}]]</option>
                        <!--ở đây không để th:selected="${size}" là để thẻ option ẩn kia lúc nào cũng hiện lên size đang chọn
                         nếu để th:selected="${size}" thì hộp chọn lúc nào cũng chọn size cuối cùng trong segmentsSizeList (vd như 22)-->
                    </th:block>
                </select>
            </div>
        </form>
    </div>

    <div th:fragment="message">
        <div th:if="${message != null}" class="alert alert-success text-center">
            [[${message}]]
        </div>
    </div>

    <th th:fragment="column_link(moduleURL, fieldName, columnLabel, remove)" th:remove="${remove}">
        <!-- th:remove='tag' =>bỏ thẻ ngoài cùng, th:remove='none' =>giữ thẻ ngoài cùng -->
        <a class="text-primary"
            th:href="@{${moduleURL} + '/page/' + ${currentPage}
             + '?sortField=' + ${fieldName}
             +'&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir}
             + '&size=' + ${size}
             + ${keyword != null ? '&keyword=' + keyword : ''}
             + ${categoryId != null ? '&categoryId=' + categoryId : ''}}">
            [[${columnLabel}]]
        </a>

        <span th:if="${sortField == fieldName}"
            th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
    </th>

    <div th:fragment="user_photos" th:remove="tag">
        <span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-silver"></span>
        <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" style="width: 100px">
    </div>

    <div th:fragment="status(enabled, entityName, entityURL)" th:remove="tag">
        <a th:if="${enabled == true}"
         class="fa fa-check-square icon-green"
         th:href="@{${entityURL} + '/enabled/false'}"
         th:title="'Disable this ' + ${entityName}">
        </a>

        <a th:if="${enabled == false}"
         class="fa fa-square icon-dark"
         th:href="@{${entityURL} + '/enabled/true'}"
         th:title="'Enable this ' + ${entityName}">
        </a>
    </div>

    <div th:fragment="edit(entityName, editURL)" th:remove="tag">
        <a class="fas fa-edit icon-green"
         th:href="@{${editURL}}"
         th:title="'Edit this ' + ${entityName}">
        </a>
    </div>

    <div th:fragment="delete(entityName, entityId, deleteURL, visible)" th:remove="tag">
        <th:block th:if="${visible}"><!-- visible dùng đế kiểm tra category có con hay ko, nếu có con thì ko cho delete -->
            <a class="fas fa-trash icon-dark link-delete"
             th:href="@{${deleteURL}}"
             th:entityId="${entityId}"
             th:title="'Delete this ' + ${entityName}">
            </a>
        </th:block>
    </div>

    <div th:fragment="pagination(moduleURL, entityName)" th:remove="tag">
        <div class="text-center m-1" th:if="${totalItems > 0}">
            <span>Showing [[${entityName}]] number [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
        </div>
        <div class="text-center m-1" th:unless="${totalItems > 0}">
            <span>There are no any [[${entityName}]] found</span>
        </div>

        <div th:if="${totalPages > 1}"><!--Khi tổng số trang > 1 thì mới hiểu thị pagination-->
            <nav>
                <ul class="pagination justify-content-center flex-wrap">
                    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="fragments :: page_link(${moduleURL}, 1, 'First')"></a>
                    </li>

                    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="fragments :: page_link(${moduleURL}, ${currentPage - 1}, 'Previous')"></a>
                    </li>

                    <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
                        th:each="i : ${#numbers.sequence(1, totalPages)}"><!-- tạo vòng lặp bắt đầu từ 1 đến totalPages)} -->
                        <a th:replace="fragments :: page_link(${moduleURL}, ${i}, ${i})"></a>
                    </li>

                    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="fragments :: page_link(${moduleURL}, ${currentPage + 1}, 'Next')"></a>
                    </li>

                    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="fragments :: page_link(${moduleURL}, ${totalPages}, 'Last')"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <!--Link a dùng để truyền vào URL dạng: /LinhanShoppingBackend/users/page/1?sortField=lastName&sortDir=asc -->
    <a th:fragment="page_link(moduleURL, pageNum, label)"
     class="page-link"
     th:href="@{${moduleURL} + '/page/' + ${pageNum}
     + '?sortField=' + ${sortField}
     + '&sortDir=' + ${sortDir}
     + '&size=' + ${size}
     + ${keyword != null ? '&keyword=' + keyword : ''}
     + ${categoryId != null ? '&categoryId=' + categoryId : ''}}">
     [[${label}]]
    </a>

    <div th:fragment="footer" class="d-flex flex-wrap justify-content-around text-center
                                    align-items-center py-3 my-4 border-top">
		<p class="cold-md-4 mb-0 text-muted">Linh An Mart Control Panel - Copyright 2023 &copy;</p>

        <a class="col-md-4 mx-auto d-block navbar-brand" th:href="@{/}">
            <img th:src="@{/images/linhanshopping_logo_3.png}" width="80px"
             style="display: block; margin: 0 auto;" />
        </a>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
	</div>
</body>

</html>