<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: page_head(${title},tag)"></head>

<body>
    <div class="container-fluid">
        <div class="row">

            <div th:replace="navigation :: side-menu('tag')"></div>

            <div class="col-sm-10">
                <div class="title-container">
                    <h2 class="page-title p-3">Linh An Shopping Cart | Control Panel</h2>
                </div>

                Wellcome

                <a th:href="@{/account}" sec:authentication="principal.fullname"></a>

                <span sec:authentication="principal.authorities"></span>
            </div>
        </div>
    </div>

    <script th:src="@{/js/navigation.js}"></script>
</body>

</html>