<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body>
	<div th:fragment="side-menu(remove)" th:remove="${remove}">
		<aside class="sidenav col-sm-2 d-flex flex-column align-content-stretch sticky-top">
			<div class="sidenav-header mt-4">
				<div class="admin-logo">
					<a class="navbar-brand" th:href="@{/}">
						<img th:src="@{/images/linhanshopping_logo_3.png}" width="120px" class="mx-auto d-block" />
					</a>
				</div>

				<h6 class="text-sm-center text-light">ADMIN VERSION 1.0.1</h6>

				<hr />
			</div>

			<div class="sidenav-body mb-auto">
				<th:block sec:authorize="hasAuthority('Admin')">
					<!-- user có role Admin mới được thấy các links bên trong Users-->
					<button class="sidedropdown-btn click-to-change-arrow">
						<div><i class="fa fa-id-badge px-2" aria-hidden="true"></i></div> Users<i class="fa fa-caret-down fa-rotate-180"></i>
					</button>
					<div class="sidedropdown-container">
						<a class="sidedropdown-item" th:href="@{/users/new}"> Create New</a>
						<a class="sidedropdown-item" th:href="@{/users}"> Show All</a>
					</div>
				</th:block>

				<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
					<!-- user có role Admin hoặc Editor mới được thấy các links bên trong -->
					<button class="sidedropdown-btn">
						<div><i class="fa fa-book px-2"></i></div> Categories<i class="fa fa-caret-down"></i>
					</button>
					<div class="sidedropdown-container">
						<a class="sidedropdown-item" th:href="@{/categories/new}"> Create New</a>
						<a class="sidedropdown-item" th:href="@{/categories}"> View All</a>
					</div>

					<button class="sidedropdown-btn">
						<div><i class="fa fa-barcode px-2" aria-hidden="true"></i></div> Brand<i class="fa fa-caret-down"></i>
					</button>
					<div class="sidedropdown-container">
						<a class="sidedropdown-item" th:href="@{/brands/new}"> Create New</a>
						<a class="sidedropdown-item" th:href="@{/brands}"> View All</a>
					</div>
				</th:block>

				<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson', 'Shipper')">
					<button class="sidedropdown-btn">
						<div><i class="fa fa-tags px-2" aria-hidden="true"></i></div> Product<i class="fa fa-caret-down"></i>
					</button>
					<div class="sidedropdown-container">
						<a class="sidedropdown-item" th:href="@{/products/new}"> Create New</a>
						<a class="sidedropdown-item" th:href="@{/products}"> View All</a>
					</div>
				</th:block>

				<th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
					<a href="#"><div><i class="fa fa-users px-2" aria-hidden="true"></i></div> Customers</a>
				</th:block>

				<th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson', 'Shipper')">
					<a href="#"><div><i class="fa fa-cart-arrow-down px-2" aria-hidden="true"></i></div> Oders</a>
				</th:block>
			</div>

			<div class="sidenav-footer">
				<hr />

				<div class="current-user">
					<button class="sidedropdown-btn">
						<!-- <i class="fas fa-user icon-silver"></i><a th:href="@{/account}" sec:authentication="principal.fullname"></a><i class="fa fa-caret-down"></i> -->
						<span><i class="fas fa-user icon-silver"></i><a class="d-inline" th:href="@{/account}"
								sec:authentication="principal.fullname"></a><i class="fa fa-caret-right"></i></span>
					</button>
					<div class="sidedropdown-container">
						<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
							<input type="submit" />
						</form>
						<a class="sidedropdown-item" id="logoutLink" href="">Logout</a>
					</div>
				</div>
			</div>
		</aside>
	</div>
</body>

</html>